<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/projectManager?characterEncoding=utf8</property>
		<property name="connection.username">root</property>
		<property name="connection.password">flzx3qc</property>
		
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<property name="show_sql">true</property>
		<!-- <property name="format_sql">true</property> -->
		<property name="hbm2ddl.auto">update</property>
		<property name="connection.autocommit">true</property>

		<property name="javax.persistence.validation.mode">none</property>
		
		<property name="hibernate.connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
		</property>

		<mapping class="com.projectManager.entity.User"/>
		<mapping class="com.projectManager.entity.Category" />
		<mapping class="com.projectManager.entity.Department" />
		<mapping class="com.projectManager.entity.Level" />
		<mapping class="com.projectManager.entity.Position" />
		<mapping class="com.projectManager.entity.Project" />
		<mapping class="com.projectManager.entity.State" />
		<mapping class="com.projectManager.entity.Task" />
	</session-factory>
</hibernate-configuration>
